.portfolio-div-link {
  text-decoration: none;
}

.card {
  background: var(--secondary);
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px var(--secondary), 0 3px 6px var(--secondary);
  text-align: left;
}

.card:hover {
  transition: 0.5s;
  box-shadow: 0 8px 12px var(--tertiary), 0 8px 12px var(--tertiary);
}

.card > .img-container {
  height: 65%;
  overflow: hidden;
  text-align: center;
  background: var(--secondary);
  border-radius: 3px 3px 0px 0px;
}
.card > .img-container > img {
  width: 100%;
  border-radius: 3px 3px 0px 0px;
}

.card > .content {
  height: 35%;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: large;
  font-weight: bold;
  background: var(--secondary);
  border-radius: 0px 0px 3px 3px;
}

.card > .content > ul {
  list-style-type: none;
  padding: 3% 0% 0% 0%;
}

.card > .content > ul > li {
  text-decoration: none;
  color: white;
  padding: 3% 0% 0% 0%;
  
}

.card > .content > ul > li > a {
  color: white;
  padding-right: 10px;
}

.card > .content > ul > li > span > a {
  color: white;
  font-size: larger;
}

.card > .content > ul > li > span > a:hover {
  transition: 0.5s;
  color: var(--tertiary);
}

.card > .content > ul > li > a:hover {
  transition: 0.5s;
  color: var(--tertiary);
}

@media screen and (max-width: 991px) {
  .card > .content {
    font-size: small;
  }
}

@media screen and (max-width: 600px) {
  .card > .content {
    font-size: small;
  }
}
