#resume-container {
    
    
    height: 95%;
    position: relative;
    padding: 20px 0px 0px 20px;
    margin-bottom: 20px;
}

#download-div {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #219ebc;
}

#resume-link {
    color: var(--tertiary);
}

#resume-link:hover {
    transition: 0.5s;
    color: #ffb703;
    font-size: larger;
}

#resume-list-items {
    max-height: 92%;   
    overflow: auto;
}

#resume-list-items::-webkit-scrollbar {
    display: none;
}

#resume-list-items > ul {
    padding: 0;
}

#resume-list-items > ul > li {
    list-style-type: none;
    padding-left: 15px;
}

/* #front-end-list {
    max-height: 50%;
}

#back-end-list {
    max-height: 50%;
} */




