#hero {
    background-image: linear-gradient(to bottom right, var(--tertiary), var(--secondary));
}

#title-position {
    display: flex;
    align-items: center;
}

#page-title {
    font-weight: bolder;
}

#nav-bar-position {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 991px) {
    #nav-bar-position {
      justify-content: flex-start;
    }
  }