html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  width: 100%;
  background-color: #a8dadc;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#container {
  background-color: #023047;
  height: 100%;
}

#hero {
  height: 25%;
  padding: 10px;
  background-color: #219ebc;
}

.header-center {
  display: flex;
  align-items: center;
  color: white;
}

#nav-bar-position {
  display: flex;
  justify-content: 
  flex-end;
}

.main-div {
  height: 65%;
  padding: 2%;
  color: white;
}

#footer-div {
  height: 10%;
  display: flex;
  justify-content: center;
}

#footer-div a {
  padding: 10px;
  text-decoration: none;
  font-size: 50px;
  color: black;
}