#about-me-container {
    padding-top: 50px;
    padding: 20px;
    height: 100%;
    position: relative;
}

#about-me-wrapper {
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

#about-me-wrapper::-webkit-scrollbar {
    display: none;
  }

#profile-pic {
    flex: 25%;
}

#profile-pic > img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    border-radius: 12px;
    /* box-shadow: 0 3px 6px var(--secondary), 0 3px 6px var(--secondary); */
}

#text-div {
    flex: 75%;
    display: flex;
    padding-left: 2%;
}

#about-me-text {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    font-size: large;
}

@media screen and (max-width: 991px) {
    #about-me-wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #text-div {
        padding-left: 0%;
    }
}